
/**                                  
 * Elements 
 */
body {
  margin: 0;
  padding: 0;
  font: 11px "Lucida Grande", "Arial", "Helvetica", sans-serif;
  line-height: 1.5;
  text-align: center;
  background: #f3f3f3 url(images/bg.jpg) 0 0 repeat-x;
  color: #666666;
}
body.admin-menu {
  background: #f3f3f3 url(images/bg.jpg) 0 20px repeat-x;
}
h1, h2, h3, h4 {
  margin: 15px 0;
  font: 20px "Lucida Grande", "Arial", "Helvetica", sans-serif; 
  font-weight: normal;
  color: #000;
}
h1 a, h2 a, h3 a, h4 a {
  color: #000;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;  
}
h4 {
  font-size: 14px;  
}
a {
  text-decoration: none; 
  color: #0DA9F7;
}
a:hover {
  text-decoration: underline;
}
          
/**
 * Generic Classes 
 */
.clear {
  clear: both;
}
.container-inline {
  margin-top: 20px;
}

/**
 * Header
 */
#header {
  position: relative;
  height: 29px;
  text-align: left;
}
#header h2 {
  display: none;
}
#header .show-help {
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 16px;
  color:#888;
  background: #222;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: block;
  height: 22px;
  width: 25px;
  text-align: center;
}
#header .show-help:hover, 
#header .show-help:active,
#header .show-help:focus {
  text-decoration: none;
  border: 0;
  outline: 0;
}
.breadcrumb {
  padding: 7px;
}
.breadcrumb a {
  color: #888;
}

/**
 * Wrapper
 */
#container {
  position: relative;
}
#wrapper {
  margin-top: 15px;
}

/**
 * Primary
 */
#primary {
  margin: 0 auto;
  padding: 10px 40px 15px;
  width: 780px;
  text-align: left;
  background: url(images/box-bg.png) 0 0 repeat-y;
  position: relative;
}
#primary h1 {
  font-family: "Helvetia Neue Light", "Helvetica LT Light", "Helvetica Neue", "Helvetica", "Arial";
  font-weight: normal;
  color: #333;
  position: absolute;
  top: -56px;
  left: 40px;
  font-size: 20px;
}
#primary-top,
#primary-bottom {
  margin: 50px auto 0 auto;
  width: 860px;
  height: 30px;
  background: url(images/sprites.box.png) 0 0 no-repeat;
}
#primary-bottom {
  margin: 0 auto 25px auto;
  background-position: 0 -108px;
}

/**
 * Panel
 */
a.expand {
  position: relative;
  top: 5px;
  color: #555;
}
a.expand:hover {
  color: #aaa;
  text-decoration: none;
}
a.contract {
  color: #888;
  font-size: 16px;
  position: absolute;
  right: 10px;
  background: #222;
  padding: 3px;
  top: 30px;
  z-index: 100;
  display: none;
}
a.descriptions {
  position: absolute;
  top: 60px;
  right: 10px;
  color: #888;
  font-size: 10px;
  z-index: 100;
  display: none;
}
#secondary {
  width: 100%;
  height: auto;
  background: #070707 url(images/bg2.jpg) 0 0 repeat-x;
  text-align: center;
  line-height: 1.2;
  display: none;
  position: relative;
}
#secondary.collapsed {
  cursor: pointer;
}
#secondary .admin {
  margin: 0 auto;
  width: 930px;
  text-align: left;
}
#secondary .compact-link {
  display: none;
}
#secondary .left,
#secondary .right {
  float: left;
  width: auto;
}
#secondary .admin-panel {
  float: left;
  margin: 0 0 0 5px;
  padding: 0 10px 0 10px;
  width: 155px;
  height: auto;
  overflow: hidden;
  background: url(images/vr.gif) right top no-repeat;
}
#secondary .admin-panel h3 {
  margin: 5px 0 15px 0;
  text-align: left;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
}
#secondary .admin-panel ul,
#secondary .admin-panel ul li,
#secondary .admin-panel .body {
  margin: 0;
  padding: 0;
}
#secondary .admin-panel ul li {
  padding: 3px 0;
  list-style: none;
}
#secondary .admin-panel ul li:hover {
  padding-left: 10px;
  opacity: 0.4;
}
#secondary .admin-panel ul li:active {
  background: #000;
  opacity: 0.6;
}
#secondary .admin-panel ul li a {
  outline: none;
  text-shadow: 1px 1px 1px #000;
  color: #6f6f6f;
}
#secondary .admin-panel ul li a:hover {
  text-decoration: none;
  color: #fff;
}
#secondary .admin-panel ul li a:active {
  color: #000;
}
#secondary .admin-panel .description {
  display: none;
}

/**
 * Primary Tabs
 */
ul.tabs {
  margin: 0 auto;
  text-align: left;
  border-bottom: none;
}
ul.tabs li {
  display: block; 
  float: left;
  margin: 0;
  padding: 0;
  height: 26px;
}
ul.tabs li a {
  margin-right: 0;
  padding: 0 12px;  
  line-height: 26px;
  font-size: 10px;
  text-shadow: -1px -1px 1px #ccc;
  border: none !important;
  outline: none;
  opacity: .7;
  color: #333;
  -webkit-transition-property: color, opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
}
ul.tabs li a:hover {
  opacity: 1;
  text-decoration: none;
  color: #000;
}
ul.tabs li.active a {
  opacity: 1;
  color: #000;
}
ul.tabs.primary {
  position: absolute;
  right: 17px;
  top: -42px;
  z-index:10;
}
ul.tabs.primary li, 
ul.tabs.primary a {
  background: transparent;
  font-size: 13px;
}
ul.tabs.primary li {
  padding-top: 4px;
  padding-bottom: 5px;
}
ul.tabs.primary li.active {
  background: white;
  box-shadow: 0 -3px 8px #ddd;
  -moz-box-shadow: 0 -3px 8px #ddd;
  -webkit-box-shadow: 0 -3px 8px #ddd;
}

/**
 * Secondary Tabs
 */
ul.tabs.secondary {
  float:right;
  margin-bottom:-15px;
  position:relative;
  right:-27px;
  top:-22px;
}
ul.tabs.secondary li {
  border: none;
}
ul.tabs.secondary li a {
  background: #eee;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  padding: 3px 15px;
  margin: 0 4px;
  opacity: 1;
}
ul.tabs.secondary li a:hover {
  background: #ddd;
}
ul.tabs.secondary li.active a {
  background: #333;
  color: #eee;
  text-shadow: -1px -1px 1px #555;
}

/**
 * Fieldset Tabs
 */
#primary ul.fieldset-tabs {
  width: 175px;
  position: absolute;
  left: -200px;
}
#primary ul.fieldset-tabs li {
  width: 175px;
  float: right;
  clear: right;
  margin-bottom: 5px;
  background: #eee;
  box-shadow: -3px 0 5px #ddd;
  -moz-box-shadow: -3px 0 5px #ddd;
  -webkit-box-shadow: -3px 0 5px #ddd;
  border-top-left-radius: 13px;
  -moz-border-radius-topleft: 13px;
  -webkit-border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-bottom-left-radius: 13px;
  border: 1px solid #eee;
}
#primary ul.fieldset-tabs li a {
  color: #555;
  text-shadow: -1px -1px 1px #ccc;
  display: block;
  height: 100%;
  width: 100%;
}
#primary ul.fieldset-tabs li.active {
  background: #fff;
  border: 1px solid white;
}
#primary ul.fieldset-tabs li.active a {
  color: black;
}

/**
 * Messages
 */
#primary .messages {
  margin: 0 0 15px;
  padding: 10px 15px;
  clear: both;
  position: relative;
}
#primary .messages.status,
#primary .messages.success {
  border: 1px solid #c4ffd0;
  background: #deffe5;
}
#primary .messages.error {
  border:1px solid #ffc4c4;
  background:#ffdfdf;
}
a.hide-messages {
  position: absolute;
  right: 5px;
  top: 0;
  color: black;
}
#primary .password-description {
  padding: 10px;
}
#primary .warning {
  margin: 10px 0;
}
.help {
  display: none;
  clear: both;
}

/**
 * Forms
 */
#primary fieldset {
  padding: 10px 20px 20px 20px;
  border: 1px solid #ccc;
}
#primary fieldset fieldset {
    margin: 20px 0;
}
#primary fieldset.vertical-tabs-pane {
  border: none;
}
html.js #primary fieldset.collapsed.evolution-processed *{
  display: inherit;
}
#primary form {
  clear: both;
}
#primary fieldset.fieldset-tab {
  padding: 0;
  border: none;
}
#primary .form-item {
  padding: 3px 0;
  border-bottom: 1px solid #eee;
}
#primary .form-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
#primary .form-item .description {
  display: none;
  padding: 2px;
  font-size: 10px;
}
#primary .form-item input.form-text,
#primary .form-item textarea {
  padding: 2px;
  width: 99%;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
}
#primary .form-submit,
#primary input[type=submit]{
  margin: 10px 5px 5px 0;
}
#primary .views-edit-view input.form-submit {
  margin-top: 5px;
}
#primary form > div > fieldset.evolution-processed > legend {
  display: none;
}
#primary #node-admin-filter .form-item,
#primary .container-inline .form-item,
#primary .form-item .form-item,
#primary table .form-item {
  margin: 0;
  padding: 0;
  border-bottom: none;
}
#primary .resizable-textarea {
  width: 100%;
}
#primary .teaser-button-wrapper {
  padding-right: 0;
}
#primary input.form-submit,
#primary input[type=button] {
  background: #ddd; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#ccc');
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background: -moz-linear-gradient(top, #eee, #ccc);
  padding: 3px 8px;
  border: 0;
  outline: 0;
}
#primary input.form-submit:focus,
#primary input[type=button]:focus {
  background: #bbb;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#aaa');
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
  background: -moz-linear-gradient(top, #ccc, #aaa);
}

/**
 * Views
 */
form#views-ui-preview-form input#preview-submit {
  margin-top: 1.15em;
}
.views-display .top {
  margin-bottom: 5px;
}

/**
 * Tables
 */
#primary table {
  width: 100%;
}
#primary table thead th,
#primary table tbody th {
  padding: 10px 5px;
  border-bottom: none;
}
#primary table.system-status-report th {
  padding-left: 30px;
}
#primary table tbody {
  border: none;
}
#primary table tr {
  border-bottom: 1px solid #E7E7E7;
}
#primary table td {
  padding: 10px 5px;
  background: #f3f3f3;
}
#primary table tr.odd td {
  background: #fff;
}
#primary table tr:hover td:not(.module) {
  background-color: #d3e9f4 !important;
}

/**
 * Tables: Row headings
 */
#primary table tr td.module,
#primary table tr td.region {
  font-family: "Helvetica Neue Light", "Helvetica LT Light", "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  font-weight: normal;
  text-indent: 0px;
  background: url(images/bg3.png) 0 0 repeat-x;
  color: #000;
}

/**
 * Tables: Permissions
 */
#primary table#permissions tr.odd td {
  background-color: #f3f3f3;
}

/**
 * Tables: Blocks
 */
#primary table#blocks tr.odd td {
  background-color: #f3f3f3;
}
